/* Custom.scss */

$theme-colors: (
  "primary": #0074d9,
  "danger": #ff4136,
  "dark": #0074d9
);

@import "../css/bootstrap";

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}
